.seasonal__text,
.lamps__text {
  color: white;
  font-family: "Ovo", serif;
  font-size: 65px;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  width: 400px;
  max-width: 100%;
}

.intro__text {
  color: white;
  font-family: "Ovo", serif;
  font-size: 40px;
  padding: 10px;
  text-transform: uppercase;
}

.intro__categories {
  font-size: 65px;
  color: #f2c029;
}
