nav {
  font-family: "Mulish", serif;
  font-weight: 600;
}

.seasonal__text,
.lamps__text {
  color: white;
  font-family: "Ovo", serif;
  font-size: 65px;
  padding: 10px;
  border-radius: 10px;
  width: 400px;
  max-width: 100%;
}

.lorem {
  color: white;
}

.intro__header {
  color: white;
  font-family: "Ovo", serif;
  padding: 10px;
  font-size: 65px;
}

.intro__decor {
  color: white;
  font-family: "Ovo", serif;
  font-size: 40px;
}

.intro__categories {
  font-size: 65px;
  color: #f2c029;
  font-family: "Ovo", serif;
}

.button {
  font-family: "Nanum Gothic";
}
